@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url(YBuy/css/null.css);
/*---Header---*/
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 0;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

/* Логотип */
.header_logo img {
  width: 8rem;
  margin: -4rem 0rem -3.8rem 0rem;
  cursor: pointer;
}

/* Навігаційне меню */
.nav_menu_items {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: -4rem 0rem -3.8rem 6rem;
}

.nav_menu_item {
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.nav_menu_item:hover {
  color: #56b280;
}
.support {
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer;
  color: #000;
}
.support:hover {
  color: #56b280;
}
/* Блок "Дія" */
.header_diya img {
  width: 2.7rem;
  height: 3rem;
  margin: 0 0.2rem;
  cursor: pointer;
}

/* Іконки профілю та кошика */
.header_people img,
.header_cart img {
  width: 2rem;
  height: auto;
  margin-left: 0.2rem;
  cursor: pointer;
}

.header_right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-right: 1rem;
}

/* Секція зі знижками */
.sale_sale_sale_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 4rem;
  padding-top: 19rem;
}

/* Фонова картинка зі словом "SALE" */
.wrapper_sale_banner {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  margin-top: 6.5rem;
}

/* Контейнер для блоку */
.sale_sale_sale_section .sale_content {
  position: relative;
  background: rgba(255, 255, 255, 0.8);
  padding: 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.2);
  z-index: 2;
  top: -25%;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

/* Заголовок */
.sale_sale_sale_section h1 {
  font-size: 3rem;
  color: #1d252c;
  font-weight: 500;
  text-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

/* Опис */
.sale_sale_sale_section p {
  font-size: 1.4rem;
  color: #1d252c;
  font-weight: 400;
  font-style: normal;
  margin-top: -2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.625rem;
}

/* Кнопка */
.sale_sale_sale_section button {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  background: #000000;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.sale_sale_sale_section button:hover {
  background: #1d252c;
}

/* Додатковий фон з "SALE" */
.sale_sale_sale_section::before {
  content: "SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE SALE";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  z-index: 1;
  line-height: 2.5rem;
  white-space: pre-line;
  text-align: center;
  opacity: 0.2;
}

/* Загальні стилі для секції Хіти продаж */
.best_seller_section {
  margin-top: 1.25rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.best_seller_section h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
  color: #1d252c;
}
.best_seller_section h4 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #5e6e89;
  margin-top: 0.9rem;
}
.best_seller_items {
  display: flex;
  justify-content: center;
  gap: 5.25rem;
  padding-top: 1.7rem;
}

.best_seller_item {
  width: 12.5rem;
  background: #fff;
  border-radius: 0.625rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  padding: 0.93rem;
  text-align: center;
}
.best_seller_item:hover {
  transform: scale(1.1);
  box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
  filter: brightness(1.1);
}
.best_seller_item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.625rem;
}

.best_seller_item h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

.best_seller_item p {
  font-size: 1rem;
  color: #28a745;
  font-weight: bold;
  text-align: right;
}

/* ---Все для дому та саду--- */
.garden-home-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.25rem;
  background-color: #f9f9f9;
  flex-direction: row-reverse;
  margin-top: 4rem;
  padding-top: 4rem;
  font-family: "Poppins", sans-serif;
}

.garden-home-section .garden-home-img {
  max-width: 40%;
  border-radius: 0.625rem;
  padding-right: 5rem;
}

.garden-home-section .garden-home-text {
  max-width: 50%;
  padding: 8.125rem 10.31rem 15.125rem 12.1875rem;
}

.garden-home-section h2 {
  font-size: 2.5rem;
  color: #000;
  font-weight: 500;
  margin-bottom: 0.625rem;
  line-height: 2.93rem;
  max-width: 21.87rem;
}

.garden-home-section p {
  color: #28a745;
  font-size: 1.125rem;
  margin-bottom: 0.93rem;
  font-weight: 400;
}

.garden-home-section ul {
  margin-top: 2.375rem;
  list-style: none;
  padding-left: 0;
}

.garden-home-section li {
  font-size: 1rem;
  color: #555;
  position: relative;
  padding-left: 1.25rem;
  bottom: 1.7rem;
}
.garden-home-section button {
  padding: 0.5rem 3rem;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  background: #56b280;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.garden-home-section button:hover {
  background: #fda839;
}

/* ---Декілька інших категорій--- */
.something_else_section {
  background-color: #fcfbf3;
  padding: 1.125rem 1.25rem;
  text-align: center;
  margin-top: -7rem;
  font-family: "Poppins", sans-serif;
}

.something_else_section h2 {
  font-size: 2.5rem;
  color: #09264a;
  margin-bottom: 0.625rem;
  font-weight: 500;
}

.something_else_section h4 {
  font-size: 1.125rem;
  color: #64748b;
  margin-bottom: 1.875rem;
  font-weight: 500;
}

.popular_items {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  margin-bottom: 1.875rem;
}

.popular_item {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  padding: 1.25rem;
  width: 22rem;
  text-align: center;
}

.popular_item img {
  width: 6.75rem;
  height: 6.75rem;
}

.popular_item h3 {
  font-size: 1.4rem;
  color: #09264a;
  margin-bottom: 0.625rem;
  font-weight: 500;
}

.popular_item p {
  font-size: 1.125rem;
  color: #64748b;
  font-weight: 500;
}

/* ---Вживані товари--- */
.used_items_section {
  background-color: #f7fbff;
  padding: 3rem 1.25rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.used_items_section h2 {
  font-size: 2.5rem;
  color: #09264a;
}

.used_items_section h4 {
  font-size: 1.125rem;
  color: #64748b;
  font-weight: 500;
  margin-bottom: 2rem;
}

.used_items_section .used_items_container {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.used_items_section .used_item {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  padding: 0.9375rem;
  width: 12.5rem;
  text-align: center;
}

.used_items_section .used_item img {
  width: 100%;
  height: 9.375rem;
  object-fit: cover;
  border-radius: 0.75rem;
}

.used_items_section .used_item h3 {
  font-size: 1rem;
  color: #09264a;
  margin-bottom: 0.625rem;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
}

.used_items_section .used_item p {
  font-size: 1rem;
  color: #0e9f6e;
  font-weight: 500;
  margin-top: auto;
  text-align: right;
}

/* ---Підвал--- */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7fbff;
  color: #fff;
}

footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 2.5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 2px solid #333;
  margin-top: 1.25rem;
  position: relative;
  flex-wrap: wrap;
}

.footer_logo_section {
  flex: 2;
  max-width: 15.625rem;
  margin-bottom: 1.25rem;
}

.footer_logo {
  max-width: 9.5rem;
  margin-bottom: 0.9375rem;
}

.footer_title {
  font-size: 2.5rem;
  font-weight: 400;
  padding-left: 7rem;
  margin-top: -7.5rem;
}

.footer_description {
  font-size: 1rem;
  margin: 0.3125rem 0;
  color: #ccc;
  line-height: 1.5;
  padding-left: 2.3rem;
  margin-top: -1rem;
  text-align: left;
  letter-spacing: -0.5px;
  max-width: 15.625rem;
}

.footer_column {
  flex: 1;
  margin-left: 15rem;
  min-width: 12.5rem;
}

.footer_heading {
  color: #00b894;
  font-size: 1rem;
  margin-bottom: 0.9375rem;
  text-decoration: none;
  border-bottom: none;
}

.footer_links {
  list-style: none;
  padding: 0;
}

.footer_links li {
  margin-bottom: 0.625rem;
}

.footer_links a {
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  transition: color 0.3s ease;
}

.footer_line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
}

@media (max-width: 64rem) {
  footer {
    flex-direction: column;
    align-items: center;
  }

  .footer_column {
    margin-left: 0;
    margin-bottom: 1.25rem;
    text-align: center;
  }

  .footer_logo_section {
    text-align: center;
  }

  .large_footer_line {
    width: calc(100% - 2.5rem);
  }
}
.white_footer_line {
  width: calc(100% - 7.5rem);
  height: 0.125rem;
  background-color: #ffffff;
  margin: 1.25rem auto;
}

/* ---Сторінка реєстрації--- */
.form-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 80rem;
  padding: 2rem;
  background: #f8fbff;
  border-radius: 0.5rem;
  margin-left: 12rem;
  margin-bottom: 12rem;
}

.form-box {
  flex: 1;
  max-width: 20rem;
}

.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  top: 0.3rem;
}

.form-subtitle {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 1.5rem;
}

form input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  font-size: 1rem;
}

form input:focus {
  outline: none;
  border-color: #00b894;
}

.btn-register {
  width: 21.7rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  color: #fff;
  background-color: #00b894;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-login {
  width: 9rem;
  padding: 0.75rem;
  border: none;
  border-radius: 0.375rem;
  font-size: 1rem;
  color: #fff;
  background-color: #00b894;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-login:hover,
.btn-register:hover {
  background-color: #eb9553;
}

.forgot-password {
  display: block;
  margin-top: -2rem;
  text-align: right;
  font-size: 0.875rem;
  color: #e74c3c;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: #c0392b;
}

@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
    align-items: center;
  }

  .form-box {
    max-width: 100%;
  }
}

/* ---Про товар--- */

.product-container {
  display: flex;
  background-color: #f8fbff;
  border-radius: 0.75rem;
  padding: 1.25rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1);
  gap: 1.25rem;
  flex: 1;
  font-family: "Poppins", sans-serif;
}

.product-image {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image img {
  width: 35rem;
  border-radius: 0.75rem;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0 0 0.625rem;
  color: #000;
  text-align: left;
}

.product-title .brand {
  color: #000;
}

.product-price {
  font-size: 1.625rem;
  color: #27ae60;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.product-options {
  margin-bottom: 1.25rem;
  color: #000;
}

.product-options .option {
  margin-left: 15rem;
  margin-bottom: 0.9375rem;
  display: flex;
  align-items: center;
  border: 0.125rem solid #ccc;
  border-radius: 0.75rem;
  padding: 1.25rem;
  background-color: #f8fbff;
  max-width: 50%;
}

.product-options label {
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.product-options select {
  margin-left: 9rem;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ddd;
}

.quantity-container {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 1.25rem;
  color: #000;
  border: 0.125rem solid #438c45;
  padding: 1.25rem;
  background-color: #f8fbff;
  width: 10rem;
  margin-top: -15rem;
}

.quantity-container span {
  font-size: 1rem;
  top: 20rem;
}

.quantity-button {
  background-color: #ddd;
  border: none;
  padding: 0.3125rem 0.625rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  font-size: 1.125rem;
}

.quantity-button:hover {
  background-color: #ccc;
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27ae60;
  color: #fff;
  border: none;
  padding: 0.9375rem 1.25rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  margin-top: 8rem;
  width: 28.5rem;
  margin-left: 15rem;
}

.add-to-cart:hover {
  background-color: #219150;
}

.cart-icon {
  font-size: 1.25rem;
  margin-right: 0.625rem;
}

.delivery-options {
  margin-bottom: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.delivery-options .option {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.delivery-options input[type="radio"] {
  accent-color: #27ae60;
  width: 1.25rem;
  height: 1.25rem;
}

.payment-options {
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.payment-options select {
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ddd;
}

.product-info {
  margin: 1.25rem 0;
  font-size: 0.875rem;
  color: #666;
}

.product-specs {
  border: 0.0625rem solid #ddd;
  border-radius: 0.5rem;
  padding: 0.9375rem;
  background-color: #f8fbff;
  font-size: 1rem;
  color: #444;
  line-height: 1.5;
  margin-top: 0.625rem;
  width: 42rem;
}

.free-shipping {
  text-align: center;
  font-size: 1rem;
  color: #27ae60;
  font-weight: 500;
  padding-right: 35rem;
}
a {
  text-decoration: none;
}

/* ---Кошик--- */
.cart-container {
  width: 100%;
  max-width: 75rem;
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 15rem;
}

.cart-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #000;
}

.back-link {
  display: inline-block;
  color: #4caf50;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 18px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 10px;
  color: #666;
  width: 30rem;
  margin-left: 40rem;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #ddd;
  justify-content: space-between;
  position: relative;
}
.first {
  color: #666;
  position: absolute;
  margin-top: 0rem;
  margin-left: 2rem;
}
.first::after {
  content: ""; /* Порожній контент для лінії */
  position: absolute;
  bottom: -0.9rem; /* Лінія внизу елемента */
  left: 0;
  width: 100%; /* Повна ширина елемента */
  height: 2px; /* Товщина лінії */
  background-color: #ddd; /* Колір лінії */
  width: 74rem;
  margin-left: -2rem;
}
.cart-item > div {
  flex: 1;
  text-align: center;
  left: 15rem;
}
.product-image2 img {
  width: 100px;
  height: 12rem;
  width: 12rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-right: 30rem;
}

.product-info {
  flex-grow: 1;
  padding-left: 20px;
  margin-right: -25rem;
}

.product-name {
  font-size: 20px;
  font-weight: 400;
  left: 15rem;
  top: 1rem;
  position: absolute;
}

.remove-link {
  color: #4caf50;
  text-decoration: none;
  font-size: 16px;
  position: absolute;
  left: 15rem;
}

.product-price,
.product-total {
  font-size: 22px;
  color: #2e7d32;
  font-weight: 400;
}

.product-quantity {
  display: flex;
  align-items: center;
  border: 1px solid #4caf50;
  border-radius: 5px;
  padding: 5px;
  max-width: 7rem;
}

.quantity-btn {
  background: none;
  border: none;
  color: #4caf50;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 12px;
}

.product-quantity input {
  width: 40px;
  text-align: center;
  border: none;
  font-size: 18px;
  outline: none;
  font-weight: 400;
  color: #333;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  font-size: 22px;
  font-weight: 400;
}

.checkout-btn {
  background-color: #56b280;
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 4rem;
}

.checkout-btn:hover {
  background-color: #e9ba37;
}
.total_sum {
  color: #000;
  margin-left: 30rem;
}
